---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        {{ post.date | date: "%B %e, %Y" }}
      </div>

      <div class="entry">
        {% if post.content contains site.excerpt_separator %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>

      {% if post.content contains site.excerpt_separator %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Читать дальше →</a>
      {% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" data-disqus-url="{{ site.url }}{{ post.url }}" class="disqus-comment-count"></a>
    </article>
  {% endfor %}
</div>
